@import url("../vendor/styles/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../vendor/styles/global.css");
@import url("../blocks/lead/lead.css");
@import url("../blocks/lead-description/lead-description.css");
@import url("../blocks/text-button/text-button.css");

.root {
  max-width: 1980px;
  min-height: 100dvh;
  overflow: hidden;
}
