@import url("../vendor/styles/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../vendor/styles/global.css");
@import url("../blocks/lead/lead.css");
@import url("../blocks/lead-description/lead-description.css");
@import url("../blocks/text-button/text-button.css");
@import url("../blocks/running-line/running-line.css");
@import url("../blocks/info/info.css");
@import url("../blocks/idea/idea.css");
@import url("../blocks/bender/bender.css");
@import url("../blocks/table/table.css");
@import url("../blocks/stages/stages.css");
@import url("../blocks/section-title/section-title.css");
@import url("../blocks/stages-buttons/stages-buttons.css");
@import url("../blocks/participants/participants.css");
@import url("../blocks/carousel-buttons/carousel-buttons.css");
@import url("../blocks/person/person.css");
@import url("../blocks/footer/footer.css");


.ro {
  width: 100%;
}

.root {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
